[Unit]
Description=Flask App Server
After=network.target

[Service]
User=moo
WorkingDirectory=/home/moo/flask-app
ExecStart=/home/moo/flask-app/venv/bin/python /home/moo/flask-app/app.py
Restart=always

[Install]
WantedBy=multi-user.target